<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="main">
            <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="Vehicle" class="vehicle-img" />
        </div>
        <h1>Welcome To 4-wheeler Vehicle Parking App </h1>
        <div class="buttons">
            <button onclick="goToLogin()">Log In</button>
            <button onclick="goToSignup()">Sign Up</button>
        </div>
    </div>

    <script>
        function goToLogin() {
            window.location.href = "/login";
        }
        function goToSignup() {
            window.location.href = "/signup";
        }
    </script>
</body>
</html>
